@use '../../../styles/all';

$size: 60px;

.quick-actions {
  position: fixed;
  bottom: all.$spaceMedium;
  left: all.$spaceMedium;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  .quick-action {
    margin-right: all.$spaceMedium;
    position: relative;
    @include all.hover-cta();

    &:hover {
      .icon-container {
        @include all.shadow(10px)
      }
    }
  }

  .icon-container {
    @include all.square-icon($size);
    border-radius: 50%;
    background-color: all.$white;
    font-size: 2rem;
    @include all.shadow(0px);
    transition: all all.$transition;
  }
}
