@use '../../../styles/all';

.quick-action-bind {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .number-input {
    flex-shrink: 0;
    width: 60px;
  }

  & > * {
    margin-right: all.$spaceSmall;

    &:last-child {
      margin-right: 0;
    }
  }
}
