$fontFamilyRegular: 'regular';
$fontFamilyBold: 'bold';
$fontFamilyLight: 'light';
$fontFamilyItalic: 'regular-italic';

@font-face {
  font-family: $fontFamilyBold;
  src: url('/public/fonts/DMMono-Medium.ttf');
}

@font-face {
  font-family: $fontFamilyRegular;
  src: url('/public/fonts/DMMono-Regular.ttf');
}

@font-face {
  font-family: $fontFamilyLight;
  src: url('/public/fonts/DMMono-Light.ttf');
}

@font-face {
  font-family: $fontFamilyItalic;
  src: url('/public/fonts/DMMono-Italic.ttf');
}

$fontSize1: 6.5rem;
$fontSize2: 5rem;
$fontSize3: 2.5rem;
$fontSize4: 1.2rem;
$fontSize5: 0.8rem;

@mixin title {
  font-size: $fontSize2;
  font-family: $fontFamilyLight;
}

@mixin heading {
  font-size: $fontSize3;
  font-family: $fontFamilyBold;
}

@mixin subHeading {
  font-size: 2.2rem;
  font-family: $fontFamilyRegular;
}

@mixin body {
  font-size: $fontSize4;
  font-family: $fontFamilyRegular;
}

@mixin footnote {
  font-size: $fontSize5;
  font-family: $fontFamilyItalic;
}
