@use "../../styles/all";


.scoreboard {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: all.$offWhite;

  .game-clock {
    font-size: 8em;
  }

  .shot-clock {
    font-size: 6em;
  }
}
