@use '../../styles/all';

.settings-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: all.$offWhite;
  max-width: all.$screenLargeMin;
  z-index: 100;
  padding: all.$spaceLarge 0;
  overflow-y: auto;
  @include all.shadow(0px);

  transform: translateX(100%);
  transition: all all.$transition;

  &.open {
    @include all.shadow(20px);
    transform: translateX(0);
  }

  .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: all.$fontSize3;
    padding: all.$spaceMedium
  }

  h2 {
    @include all.heading();
    padding-left: all.$spaceLarge;
    margin-bottom: all.$spaceLarge;
  }

  h3 {
    @include all.subHeading();
    margin-bottom: all.$spaceLarge;
  }

  .section {
    margin-top: all.$spaceLarge;
    padding: all.$spaceLarge;
    border-top: 1px solid all.$lightGrey;
  }

  .row {
    margin-bottom: all.$spaceLarge;

    label {
      display: block;
      margin-bottom: all.$spaceSmall;
      font-size: all.$fontSize4;
    }
  }

  .quick-action-entry {
    margin-top: all.$spaceSmall;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .remove-quick-action-button {
      margin-left: all.$spaceSmall;
      font-size: all.$fontSize4;
    }
  }

  .text-cta {
    margin-top: all.$spaceMedium;
  }

  .key-bind {
    margin-top: all.$spaceSmall;
  }
}

